.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: -1px 5px 6px rgba(245, 216, 255, 0.45);
    margin-bottom: 20px;
padding: 10px;
}
.nav{
    display: flex;
    justify-content: space-around;
    width: 50%;
}
.link{
    text-decoration: none;
    color: #eec7fc;
    font-family: 'League Spartan', sans-serif;
    font-weight: 400;
    font-size: 18px;
line-height: 1.35;
text-align: center;
}
.item{
    padding: 15px;
    border-bottom: solid 3px transparent;
}
.item:hover{
    border-bottom: solid 3px #eec7fc;
}
.list{
    display: flex;
    justify-content: space-between;
    list-style: none;
}